@model List<NETCore_Demo_StajProject.DAL.Operasyonlar>
@{
    Layout = "_LayoutAdmin";
}
<div style="height:620px">
    <a class="btn btn-info" style="width:40%;margin-top:20px;background-color:#f6e1c5" asp-action="create" asp-controller="Operasyonlar">Yeni Operasyon Ekle</a>

<table class="table" style="width:100%;margin-top:30px;background-color:#FDF5E6">
    <thead>
           <tr>       
             <th>Operasyon Id</th>
             <th>Operasyonlar Adı</th>           
           </tr>

    </thead>
    @foreach(var item in Model){
        <tr style="width:100%;background-color:#FFEBCD">
            <td>@item.OperasyonId</td> 
            <td>@item.OperasyonAd</td>
            <td>
                <a class="btn btn-info" style="width:30%;background-color:#f6e1c5" href="/Operasyonlar\Edit\@item.OperasyonId">Düzenle</a>&nbsp
                    <a class="btn btn-info" style="width:20%;background-color:#f6e1c5" href="/Operasyonlar\Remove\@item.OperasyonId">Sil</a>
                </td>
         </tr>
}
</table>

</div>
