@model NETCore_Demo_StajProject.DAL.PersonelGorev
@{
    Layout="_LayoutAdmin";
}
<form asp-controller="PersonelGorev" asp-action="Create" method="post">

    @Html.HiddenFor(m=>m.PersonelId)

<table style="width:70%">
    @*dropdown koyulacak*@
  <tr>

          <th> Gorev Ad:</th> 
            <td>        
                @Html.DropDownList("GorevId",null,"Seçiniz", new {@class="form-control" })
            
            </td>

  </tr>

</table>


  <br />  <button type="submit" class="btn btn-primary">Kaydet</button>
</form>