@model List<NETCore_Demo_StajProject.Models.PersonelUzmanlikVM>
@{
    Layout="_LayoutAdmin";
}

<a class="btn btn-info" style="background-color:#f6e1c5;margin-top:10px" href="/PersonelUzmanlik/UzmanlikCreate/@ViewBag.PersonelId">Uzmanlık Alanı Ata</a>
<div style="height:530px">
	<table class="table" style=" margin-top:30px">
		<thead style="width:100%;background-color:#FDF5E6">
			<tr>
				<th>Personel Ad</th>
				<th>Uzmanlık Adı</th>
				<th></th>
			</tr>

		</thead>
		@foreach (var item in Model)
		{
			<tr style="width:100%;background-color:#FFEBCD">
				<td>@item.Personel.PersonelAd</td>
				<td>@item.UzmanlikAlanlari.UzmanlikAd</td>


				<td>
					<a class="btn btn-info" style="width:30%;background-color:#f6e1c5" href="/PersonelUzmanlik/Remove/@item.PersonelUzmanlik.Id">Sil</a>

				</td>
			</tr>
		}
	</table>
</div>

