@model NETCore_Demo_StajProject.DAL.Personel
@{
    Layout="_LayoutAdmin";
}
<form asp-controller="Personel" asp-action="Remove" method="post">

    <input type="hidden" asp-for="PersonelId" />
    <input  asp-for="PersonelAd" />

    <button type="submit" class="btn btn-primary">Sil</button>
</form>