@{
    Layout = "_LayoutAdmin";
}
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">HOŞGELDİNİZ</h1>

</div>
<div>
    
    Firma Adı:
    @ViewBag.FirmaAdi
    <br />
    Adres:
    @ViewData["Adres"]
    <br />
    Telefon:
    @TempData["Telefon"]

</div>

