<div style="height:260px">
    <i>
        <h2 style="color:#f6e1c5">İletişim</h2>
    </i>
    <i>
        <p style="background-color:#f6e1c5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam viverra dui a pharetra tristique. Sed ultricies risus a ex fringilla, sit amet feugiat sapien ullamcorper. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Cras consectetur, leo ac aliquet convallis, turpis lacus gravida orci, id molestie dui lectus id libero. Nulla interdum est at purus tristique, et posuere lacus convallis. Maecenas feugiat eros ac felis malesuada, vitae finibus enim commodo. Nam porttitor rutrum lectus id elementum. Aliquam maximus justo enim, ut feugiat est efficitur sed. Phasellus rhoncus, sem eget tincidunt posuere, lorem diam euismod lectus, at eleifend tellus lectus id nunc. Sed dignissim volutpat mi, sed posuere lectus rutrum sed. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

        </p>
    </i>
</div>

