@{
    ViewData["Title"] = "Home Page";
}
<div style="height:230px" > 
    <div class="text-center">
        <h1 class="display-4" style="color:#e6a756">
            <b><i><em>HOŞGELDİNİZ</em></i></b>
        </h1>
        <a class="btn btn-info" style="background-color:#FFEBCD" href="Home\Kayit">Kayıt</a>
        <a class="btn btn-info" style="background-color:#FFEBCD" href="Home\Giris">Giriş</a>

    </div>
    <div style="margin-top:20px">
        Firma Adı:
        @ViewBag.FirmaAdi
        <br />
        Adres:
        @ViewData["Adres"]
        <br />
        Telefon:
        @TempData["Telefon"]
    </div>

</div>

