@{
    ViewData["Title"] = "Home Page";
}
<div style="height:360px"> 
    <div class="text-center">
        <h1 class="display-4">HOŞGELDİNİZ</h1>
        <a class="btn btn-info" style="background-color:mediumseagreen" href="Home\Kayit">Kayıt</a>
        <a class="btn btn-info" style="background-color:mediumseagreen" href="Home\Giris">Giriş</a>

    </div>
    <div>
        Firma Adı:
        @ViewBag.FirmaAdi
        <br />
        Adres:
        @ViewData["Adres"]
        <br />
        Telefon:
        @TempData["Telefon"]
    </div>

</div>

