@model NETCore_Demo_StajProject.DAL.PersonelUzmanlik
@{
    Layout="_LayoutAdmin";
}
<form asp-controller="PersonelUzmanlik" asp-action="Remove" method="post">
    @Html.HiddenFor(m=>m.PersonelId)
     <button type="submit" class="btn btn-primary">Sil</button>
</form>