@model NETCore_Demo_StajProject.DAL.Randevu
    
<form asp-controller="Randevu" asp-action="Remove" method="post">
    @Html.HiddenFor(m=>m.RandevuId)

    <div class="text-center"style="height:220px;">
       
            <button type="submit" style="height:25%;width:15%;background-color:#f6e1c5" class="btn btn-primary">Sil</button>
        
        
    </div>

</form>